/* ------------------------------------------- */
/* Modo Claro: Colores por defecto (en :root) */
/* ------------------------------------------- */

:root {
    /* Fondos */
    --background: #1A1A1A;
    /* Texto */
    --text-primary: #FFFFFF;
    /* Acentos */
    --accent: #D32F2F;
    --accent-dark: #B71C1C;
    --text-white: #FFFFFF;
    --text-secondary: #c2c2c2;
    --color-fondo-radial: radial-gradient(circle at center, #333 0%, #000 100%);

    /* Opcional: Transición suave para el cambio de modo */
    transition: background-color 0.3s, color 0.3s;
}

/* ------------------------------------------- */
/* Modo Oscuro: Sobrescribiendo variables */
/* ------------------------------------------- */

body.light-mode {
    --background: #F5F5F5;
    /* Texto */
    --text-primary: #1A1A1A;
    --text-secondary: #5a5a5a;

    --color-fondo-radial: radial-gradient(circle at center, #FFFFFF 0%, #F0F0F0 100%);

    /* Nota: Los colores de acento (rojo) se mantienen iguales en ambos modos */
}

/* Formateo de paginas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    background-color: var(--background);
    font-family: 'Space Mono', monospace;
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}



#dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-primary);

}

h1 {
    font-size: 5rem;
    margin: 0;
    text-align: center;
    color: var(--text-white);
    cursor: default;
    transition: all 0.3s ease-in-out;
}

/* h1:hover {
    : var(--accent); 
    text-shadow: 0 0 10px var(--accent);

} */

h2,
h3 {
    font-size: 2.7rem;
    position: relative;
    text-align: start;
    color: var(--text-secondary);
    z-index: 20;
}

p {
    text-align: start;
    position: relative;
    color: var(--text-secondary);
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 20;
}

.text-gradient {
    background: linear-gradient(to right, #FFFFFF, #666);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text-gradient-red {
    background: linear-gradient(to right, #FF0000, #666);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

nav {
    background-color: var(--background);
    padding-bottom: 1rem;
    position: relative;
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 1.2rem;
}

.nav-links {
    margin: 1rem;
    position: sticky;
    top: 10%;
    z-index: 100;
    transition: all 0.5s ease;
}

.nav-links ul {
    width: 60%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.nav-links ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 600;

    transition: all 0.5s ease;
}

.nav-links ul li a:hover {
    display: inline-block;
    color: var(--accent);
    transform: translate3d(0, -5px, 0);
    text-shadow: 0 0 10px var(--accent);
}

/* NAV OCULTO HASTA QUE HAGA SCROLL */

.hidden-nav-links {
    /*Hacer el nav fijo */
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    backdrop-filter: blur(8px);
    padding: 10px 20px;
    border-radius: 1rem;
    border: 1px solid var(--text-primary);
}

.hidden-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hidden-nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

.hidden-nav-links ul li a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 600;
    transition: all 0.5s ease;
}

.hidden-nav-links ul li a:hover {
    display: inline-block;
    color: var(--accent);
    transform: translate3d(0, -5px, 0);
    text-shadow: 0 0 10px var(--accent);
}

.link-activo {
    color: var(--accent) !important;
    text-shadow: 0 0 10px var(--accent);
}




#hero {
    background-color: var(--text-primary);
    margin: 0;
    padding: 0;
    /* height: 50vh; */
    position: relative;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Usaremos 11 para que esté encima avatar*/
    z-index: 11;
    /* degradado al pseudoelemento */
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 1) 100%);
}

.hero-background {
    background-image:
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
        url('../images/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-content {
    text-align: start;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.avatar {
    text-align: start;
    height: 62vh;
    object-fit: cover;
    margin-top: -2vh;
    padding: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    /* animacion */
    /* opacity: 0; */
    filter: blur(5px);
    background-attachment: fixed !important;
    /* transform: scale(10) translateX(-30%); */
}

.img-hero-container {
    width: 30%;
    height: 60vh;
    text-align: start;
}

.social-links {
    margin-top: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
}

.social-links a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-white);
    padding: 0.3rem 1rem;
    backdrop-filter: blur(80px);
    white-space: nowrap;
    /* en caso que el texto sea muy largo */
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 250px; */
    z-index: 12;
    transition: all 0.5s ease;
}

.social-links a:nth-child(1),
.social-links a:nth-child(2) {
    width: 25%;
}

.social-links a:nth-child(3) {
    width: 47%;
}

.social-links a:hover {
    color: var(--accent);
    transform: translate3d(0, -5px, 0);
    text-shadow: 0 0 10px var(--accent);
}

.content-about {
    width: 70%;
    max-width: 600px;
    margin-left: -2rem;
    color: var(--text-primary);
}





#about,
#projects,
#contact {
    width: 100%;
    margin: auto;
    padding-top: 4rem;
    height: 100vh;
    position: relative;
    z-index: 20;
    text-align: center;
}

.main-sections {
    background: var(--color-fondo-radial);
}

.content {
    width: 50%;
    margin: 0 auto;
}

/* Clases para el About Section */
.title-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title-section i {
    color: var(--text-secondary);
    font-size: 2.5rem;
}

.about-content {
    margin-top: 1rem;
    border-left: 3px solid var(--text-primary);
    padding-left: 1rem;
    border-radius: 5px;
    border-color: var(--accent);
}

#skills {
    margin-top: -1rem;
}



















/*
EFECTOS
*/



/*
ANIMACIONES
*/
.typing-container {
    display: flex;
    /* Para que el cursor quede al lado del texto */
    align-items: center;
}

/* Estilo del cursor parpadeante */
.cursor {
    display: inline-block;
    /* Asegura que se vea */
    margin-left: 5px;
    animation: blink 0.7s step-end;
    /* Animación de parpadeo */
    color: #a9a9a9;
    /* Color del cursor */
    font-weight: bold;
    font-size: 2rem;
}

/* Keyframes para la animación del parpadeo del cursor */
@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


/* SLIDE IMG AVATAR */


@keyframes slideInFromLeftBlur {
    0% {
        /* Estado inicial: Fuera de la pantalla a la izquierda, desenfocado */
        /* transform: translateX(-100%); */
        /* Desplazado 100% a la izquierda (fuera del viewport) */
        filter: blur(5px);
        /* Desenfoque de 5px */
        /* opacity: 0; */
        /* Invisible al inicio */
    }

    100% {
        /* Estado final: En su posición original, sin desenfoque */
        /* transform: translateX(0); */
        /* En su posición final */
        filter: blur(0px);
        /* Sin desenfoque */
        /* opacity: 1; */
        /* Totalmente visible */
    }
}

.slide-left-to-right {
    animation-name: slideInFromLeftBlur;
    /* animation-delay: 0.5s; */
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-right-to-left {
    transform: translateX(200%);
    animation-name: slideRightToLeft;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* 1. Definición de la Animación */
/* ------------------------------------------- */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase para animar los textos y aparezcan */
.fade-in-up {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeInUp 1.7s ease-out forwards;
}



/* BTN TO TOP */

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--accent);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-back-to-top:hover {
    background-color: var(--accent-dark);
    color: var(--text-white);
    transform: scale(1.1);
}